extends layout

block content
  #my-trello
    header
      select.boards
        option(value="1") Board 1
        option(value="2") Board 2
      .app-name
        h1 My Trello
    main
      h2 Board 1
      .list
        textarea List 1
        .card
          h3 Card 1
        .card
          h3 Card 2
      .list
        textarea List 2
        .card
          h3 Card 3
