<header>
  <select class="boards">
    <option value="#">Select a board</option>
    {{#each boards}}
      <option value="{{id}}">{{title}}</option>
    {{/each}}
  </select>

  <div class="new-board-link">
    <a href="/new">New Board</a>
  </div>

  <div class="app-name"><a href="/"><h1>My Trello</h1></a></div>
</header>

<main>

</main>
