<h2>{{title}}</h2>
<ul id="lists"></ul>
<div class="list new-list idle">
  Add a list...
  <form for="" action="post" id="new-list-form">
    <input type="text" name="title" value="New List">
    <div>
      <input type="submit" value="Add">
      <a href="#" class="cancel-new-list">Cancel</a>
    </div>
  </form>
</div>
