<div class="overlay"></div>
<div class="card-modal">
  <h2>{{title}}</h2>
  <section>
    <h3>Description</h3>
    <a href="#" class="edit-description"></a>
    <p>{{description}}<p>
  </section>

  <section class="comments">
    <h2>Comments</h2>
    <ul class="comment-list"></ul>
    <form action="" method="post" class="new-comment">
      <fieldset>
        <textarea name="comment-body" placeholder="Add a comment..."></textarea>
        <input type="submit" value="Send">
      </fieldset>
    </form>
  </section>
</div>
