<div class="overlay"></div>
<form action="" method="" class="new-board">
  <fieldset>
    <h5>Create New Board</h5>
    <input type="text" name="title" value="New Board">
    <input type="submit" value="Create">
  </fieldset>
</form>
