@import 'mixins'

/* ====-----------------====
   Whitespace Reset
   ====-----------------==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
 margin: 0
 padding: 0
 border: 0
 font-size: 100%
 font: inherit
 vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
 display: block

body
 line-height: 1

ol, ul
 list-style: none

blockquote, q
 quotes: none

blockquote:before, blockquote:after,
q:before, q:after
 content: ''
 content: none

table
 border-collapse: collapse
 border-spacing: 0


/* ====-----------------====
   Main CSS
   ====-----------------==== */

html,
body
  height: 100%
  background: colors.bg

#my-trello
  font: normal 16px Helvetica, Arial, sans-serif
  top: 0
  bottom: 0
  height: 100%
  min-width: 100%

header
  background: colors.header
  width: 100%
  height: 50px
  padding: 10px
  position: fixed
  box-sizing: border-box
  z-index: 1

.boards
  float: left
  width: 170px
  height: 30px
  font: inherit
  color: inherit

.new-board
  float: right
  width: 100px

h1
  text-align: center
  width: 100%
  color: colors.title
  font-weight: bold
  font-size: 1.6em

main
  position: absolute
  height: 100%
  padding: 65px 10px 15px 10px
  box-sizing: border-box
  overflow-y: hidden
  white-space: nowrap

a
  text-decoration: none
  color: inherit

h2
  font-weight: bold
  font-size: 1.2em
  color: colors.board.title
  padding: 0 0 15px 0

#lists
  display: inline-block

.list,
.new-list form
  background: colors.list.bg
  width: 270px
  border-radius: 3px
  padding: 7px
  vertical-align: top
  display: inline-block
  box-sizing: border-box
  & + .list
    margin-left: 10px
  & > textarea
    background: inherit
    width: calc(100% - 15px)
    border: none
    border-radius: 3px
    box-sizing: border-box
    resize: none
    font: inherit
    color: colors.list.title
    font-weight: bold
    &:focus
      background: colors.list.title-edit-bg
  & > .delete
    display: inline-block
    width: 10px
    overflow: hidden
    vertical-align: middle
    float: right
    box-sizing: border-box
  .new-card
    color: inherit
    cursor: pointer
  .new-card-form
    display: none
    form
      [type=text]
        display: block
        width: 100%
        margin: 0 0 5px 0
        padding: 5px
        box-sizing: border-box
      [type=submit],
      a
        display: inline-block
      a
        margin-left: 5px

.new-list
  background: colors.list.new-bg
  margin-left: 10px
  position: relative
  display: inline-block
  color: colors.list.new-bg-text
  &:hover
    background: colors.list.new-bg-hover
  form
    top: 0
    left: 0
    position: absolute
    [type="text"]
      width: 100%
      margin-bottom: 10px
      box-sizing: border-box

.idle
  cursor: pointer
  form
    display: none

.cards
  margin-bottom: 10px

.card
  background: colors.card.bg
  border-radius: 3px
  padding: 5px
  & + .card
    margin-top: 5px
  h3
    color: colors.card.title
    font-weight: bold
    font-size: .9em
    cursor: pointer

.modal
  position: absolute
  top: 20%
  left: 0
  right: 0
  text-align: center
  .overlay
    background: rgba(0, 0, 0, .4)
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 2
    position: fixed
  .card-modal,
  form.new-board
    background: #ddd
    position: relative
    margin: 0 auto
    padding: 15px
    border-radius: 3px
    box-sizing: border-box
    z-index: 3
    &:after
      content: " "
      visibility: hidden
      display: block
      height: 0
      clear: both
  .card-modal
    width: 600px
    color: #666
    text-align: left
    h2
      padding: 0 0 5px 0
      color: colors.list.title
    h3
      display: inline-block
      font-weight: bold
      color: #777
    .edit-description-link
      margin-left: 5px
      display: inline-block
      color: #888
    .description
      margin-top: 10px
    .actions
      float: right
      height: 100%
      width: 150px
      padding-left: 10px
      padding-right: 5px
      box-sizing: border-box
      ul
        margin: 10px 0 0 0
      li
        width: 100%
        a
          background: #eee
          width: 100%
          padding: 5px
          border-radius 3px
          border: 1px solid #ccc
          border-top: none
          display: block
    .main-col
      float: left
      width: 420px
      box-sizing: border-box
    section
      & + section
        padding-top: 10px
    .comments
      .comment-list
        margin-bottom: 10px
      .comment
        & + .comment
          padding-top: 7px
      .comment-body
        background: #eee
        margin-bottom: 3px
        padding: 5px
        border: 1px solid #ccc
        border-top: none
        border-radius: 3px
        color: #777
      .byline
        color: #999
        font-size: .7em

    form.new-comment,
    form.edit-description
      textarea
        background: #fff
        width: 100%
        padding: 5px
        border: 1px solid #aaa
        border-radius: 3px
        box-sizing: border-box
        font: inherit
        color: #666
      [type=submit]
        padding: 5px 10px
        display: inline-block
      a.cancel-edit
        margin-left: 5px
        display: inline-block
    form.edit-description
      margin-top: 10px
      display: none

  form.new-board
    width: 300px
    margin: 0 auto
    text-align: center
    h5
      font-weight: bold
      font-size: 1.2em
      margin-bottom: 10px
    input
      display: block
      &[type=text]
        width: 100%
        padding: 5px 10px
        box-sizing: border-box
        font-size: 1.1em
      &[type=submit]
        margin: 10px auto 0 auto
        padding: 5px 10px
