@import 'mixins'

/* ====-----------------====
   Whitespace Reset
   ====-----------------==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
 margin: 0
 padding: 0
 border: 0
 font-size: 100%
 font: inherit
 vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
 display: block

body
 line-height: 1

ol, ul
 list-style: none

blockquote, q
 quotes: none

blockquote:before, blockquote:after,
q:before, q:after
 content: ''
 content: none

table
 border-collapse: collapse
 border-spacing: 0


/* ====-----------------====
   Main CSS
   ====-----------------==== */

#my-trello
  background: colors.bg
  font: normal 16px Helvetica, Arial, sans-serif
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -1

header
  background: colors.header
  height: 50px
  padding: 10px
  box-sizing: border-box

.boards
  float: left
  width: 100px

h1
  text-align: center
  width: 100%
  color: colors.title
  font-weight: bold
  font-size: 1.6em

main
  padding: 15px 10px

h2
  font-weight: bold
  font-size: 1.2em
  color: colors.board.title
  padding: 0 0 15px 0

#lists
  display: inline-block

.list,
.new-list form
  background: colors.list.bg
  width: 270px
  border-radius: 3px
  padding: 7px
  vertical-align: top
  display: inline-block
  box-sizing: border-box
  & + .list
    margin-left: 10px
  & > textarea
    background: inherit
    height: 18px
    width: 100%
    border: none
    border-radius: 3px
    resize: none
    font: inherit
    color: colors.list.title
    font-weight: bold
    &:focus
      background: colors.list.title-edit-bg

.new-list
  background: colors.list.new-bg
  margin-left: 10px
  position: relative
  display: inline-block
  color: colors.list.new-bg-text
  &:hover
    background: colors.list.new-bg-hover
  form
    top: 0
    left: 0
    position: absolute
    [type="text"]
      width: 100%
      margin-bottom: 10px
      box-sizing: border-box

.idle
  cursor: pointer
  form
    display: none

.card
  background: colors.card.bg
  border-radius: 3px
  padding: 5px
  & + .card
    margin-top: 5px
  h3
    color: colors.card.title
    font-size: .9em
