colors = {
  bg: rgb(0, 121, 191),
  header: rgba(0, 0, 0, 0.14902),
  title: rgba(255, 255, 255, 0.5),
  board: {
    title: rgba(255, 255, 255, .9)
  },
  list: {
    bg: #e2e4e6,
    title: #4d4d4d,
    title-edit-bg: #fff,
    new-bg: rgba(0,0,0,.12),
    new-bg-hover: rgba(0,0,0,.3),
    new-bg-text: rgba(255, 255, 255, .7)
  },
  card: {
    bg: #fff,
    title: #333
  }
}
