colors = {
  bg: rgb(0, 121, 191),
  header: rgba(0, 0, 0, 0.14902),
  title: rgba(255, 255, 255, 0.5),
  board: {
    title: rgba(255, 255, 255, .9)
  },
  list: {
    bg: #e2e4e6,
    title: #4d4d4d,
    title-edit-bg: #fff
  },
  card: {
    bg: #fff,
    title: #333
  }
}
